name: Python Package

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install -e .
    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 batdata/ scripts/
    - name: Test with pytest
      run: |
        pip install -r test-requirements.txt
        pytest batdata
    - name: Coveralls
      run: |
        pip install coveralls
        coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
