name: Python Package

on: [ push, pull_request ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install package
        run: |
          pip install -e .[test]
      - name: Lint with flake8
        run: |
          flake8 battdat/ tests
      - name: Test with pytest
        run: |
          pytest --cov=batdata tests
      - name: Coveralls
        run: |
          pip install coveralls
          coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Test example notebooks
        run: |
          pip install jupyter matplotlib
          home_dir=`pwd`
          for notebook in `find docs/user-guide -name "*.ipynb"`; do
             cd `dirname $notebook`
             jupyter execute `basename $notebook`
             cd $home_dir
          done
